/* Vaiables - Bootstrap Certification Test - Fernando Ted */


/* COLORS */
$white: #FFFFFF;
$bg-header-bar: #343F4B;
$bg-logo: #222C38;
$bg-left-bar: #4BAED0;
$bar-font-color: #A8BEC9;
$right-content-background-color: #F5F7F8;
$offcanvas-link-color: #2A88A8;
$bg-btn-prev-next: #F5F7F8;
$tab-icon-color: #C1D2DA;